body{
  font-family:Segoe UI, sans-serif;
  background:#0f2027;
  color:white;
  padding:15px;
  transition: background 0.3s,color 0.3s;
}

h1{text-align:center;margin-bottom:15px;}

.card{
  background:#1c1c1c;
  padding:15px;
  border-radius:10px;
  margin-top:10px;
}

input,select,button{
  width:100%;
  padding:8px;
  margin-top:5px;
  border-radius:8px;
  border:none;
}

button{
  background:#00c6ff;
  font-weight:bold;
  cursor:pointer;
}

button:hover{
  opacity:0.85;
}

#pinScreen{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:#111;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  z-index:999;
}

#pinScreen input{
  width:80%;
  text-align:center;
  font-size:20px;
}

#pinScreen button{
  width:50%;
  margin-top:10px;
}
